@import url("http://fonts.cdnfonts.com/css/maus");

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: auto;
  height: auto;
  align-items: center;
  align-self: center;
  align-content: center;
}
body {
  background-repeat: no-repeat;
  background: rgb(254, 74, 121);
  background: linear-gradient(
    257deg,
    rgba(254, 74, 121, 1) 0%,
    rgba(255, 135, 178, 1) 47%,
    rgba(255, 248, 188, 1) 100%
  ) no-repeat center center fixed;
  max-height: 100%;
  max-height: 100%;
}
/*VIEW LOGIN*/
.imgLogo {
  display: flex;
  justify-content: center;
}
img {
  width: 18%;
  height: 18%;
}
#logo {
  display: flex;
  justify-content: center;
}
.title {
  display: flex;
  justify-content: center;
}
.titleLogin {
  display: flex;
  justify-content: center;
  color: rgb(243, 246, 248);
  font-family: "Maus", sans-serif;
  font-size: 400%;
}
.subtituloLogin {
  text-align: center;
  color: white;
}
.input {
  display: block;
  margin: auto;
 padding: 0.5%;
 padding-left: 5%;
 padding-right: 5%;
  border-radius: 5px;
  margin-top: 5px;
  justify-self: center;
}
/*i {
  display: flex;
  justify-content: center;
}
*/
/* btns*/

a {
  display: inline;
  justify-content: center;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  margin-left: 37%;
}
a[target] {
  margin: 0%;
  margin-top: 11%;
  margin-left: 2%;
  text-align: center;
}

button {
  font-size: large;
  width: 20%;
  height: 30%;
  display: block;
  margin: auto;
  margin-top: 1%;
  border-radius: 2%;
  color: #F65A83;
  background: #FFE898;
}
button:hover {
  background-color: #FFFFFF;
  color: #F65A83;
}
.btnRegister {
  color: #FFFFFF;
  background: transparent;
  border: none;
  font-size:large;
  width: 40%;
  height: 40%;
  
}
#btnGoogle, #btnFacebook {
  display: block;
  margin: auto;
  padding: 5px;
  font-size: 20px;
  background-color: #FFFFFF;
  margin-top: 1%;
  color: #F65A83;
  border-radius: 2%;
  width: 30%;
  height: 100%;
}

/*VIEWS REGISTER*/

.h2Register {
  color: white;
  text-align: center;
}

/*VIEW FEED*/

.logoFeed {
  width: 7%;
  height: 7%;
  margin-top: 2%;
  margin-left: 2%;
}
.i {
  width: 10%;
  height: 10%;
  opacity: 30%;
  display: inline-block;
  margin-top: 100%;
  margin-bottom: 0%;
}

.logoFeed {
  width: 20%;
  height: 20%;
  margin-top: 10%;
  margin-left: 5%;
  display: inline-block;
}

/*INPUT FEED*/
.inputFeedState {
  padding: 10%;
  border-radius: 10%;
}
.fileFeed {
  display: block;
  margin: auto;
  margin-top: 5px;
}
/*IMG PROFILE*/
.profileImg {
  float: right;
  margin: 0%;
  width: 8%;
  height: 8%;
  margin-right: 10%;
}


.input search {
  margin-left: 50%;
}
#btnLogOut{
    color:  red;
    position: float;
    margin-right: 1%;
}
#Buscador{
  position: static;
}
