@import url('http://fonts.cdnfonts.com/css/maus');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color:#F65A83;
}
/*VIEW LOGIN*/
.imgLogo {
    display: flex;
    justify-content: center;
}
img {
    width: 250px;
    height: 250px;
}
#logo {
    display: flex;
    justify-content: center;
}
.title {
    display: flex;
    justify-content: center;
}
.titleLogin{
    display: flex;
    justify-content: center;
    color: rgb(243, 246, 248);
    font-family: 'Maus', sans-serif;
    font-size: 400%;
}
.subtituloLogin {
    text-align: center;
    color: white;
    
}
.input{
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}
i{
    display: flex;
    justify-content: center;
}
/* btns*/

a {
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

button{
    display: block;
    margin: auto;
    padding: 1%;
    border-radius: 5px;
}
button:hover {
    background-color: tomato;
    cursor: pointer;
}
.btnRegister {
    text-decoration: none;
    color: white;
}

/*VIEWS REGISTER*/ 

.h2Register{
    color: white;
    text-align: center;
}

/*VIEW FEED*/

.logoFeed {
    width: 20%;
    height: 20%;
    margin-top: 20%;
    margin-left: 10%;
}
